*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    padding-top: 0px;
    margin: 0px;
}
ul.links{
    color: lightgray;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.topPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #1f2937;
    color: white;
    padding-bottom: 50px;
}
.info{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}
.infoHeader{
    margin: 0px;
}
.signUp{
    width: 30%;
    background-color: #3882F8;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 10px;
}
.signUp:hover{
    background-color: white;
    color: black;
}
img.promotional{
    width: 300px;
    height: 150px;
    border-radius: 30px;
}
.midPart{
    background-color: #F9FAF8;
}
img.picture{
    width: 200px;
    height: 200px;
    border: solid cyan;
    border-radius: 20px;
    
}
.pictures{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p.subtext{
    padding: 0;
    margin-top: 5;
}
.headline{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bottomPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10%;
    background-color: lightgray;
}
.text{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: 30px;
}
.author{
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}
.footer{
    margin: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prompt{
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: space-around;
    gap: 50px;
    color: white;
    padding: 1%;
}
.prompt-text{
    display: block;
}
h2.dunno{
    margin-bottom: 0px;
}
p.dunno{
    margin-top: 0px;
}
.signUp2{
    color: white;
    background-color: transparent;
    border: solid white 1px;
    align-self: center;
    padding: 20px 40px;
    border-radius: 15px;    
}
.signUp2:hover{
    background-color: white;
    color: black;
}
img.logo{
    width: 75px;
    height: 75px;
}
a.link{
    text-decoration: none;
    color: white;
}